.nav-container {
  /* margin-bottom: 0px;
  padding-bottom: 0px !important; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-div {
  width: 90%;
}

.nav-ul {
  width: 100%;
}

.search-form {
  width: 400px;
}

.search-group {
  width: 100%;
  border: 0.5px solid black;
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.863);
}

.search-box {
  width: 300px;
  border-radius: 20px;
  background-color: rgba(240, 240, 240, 0.863);
}

.search-box:focus {
  outline: none;
  box-shadow: none;
}

.search-btn {
  background: rgba(240, 240, 240, 0.863);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}



a:hover {
  color: red;
}


/* ------------------------- */

.dropbtn {

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;


}

.dropdown {
  position: relative;
  display: inline-block;
  transform: rotate(0);

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* margin-top: 23px; */
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {

  color: blue;

}

.dropdown:hover .dropdown-content {
  display: block;

}


.cat:hover .subCat {
  display: block;
}



#arrow {

  left: 80%;
  position: absolute;
}
